.navbar-left{
    float: left;
   
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
    
}
.navbar-left > a > img{
    padding:15px;
    padding-left:  11rem;;
}
.navbar-right > a{
   float:left;
   text-decoration: none;
   font-size:16px;
   padding:  4px 15px;
   
 
  
  
   color: white;
  

}
.navbar-right {
    float:right;
    justify-content:flex-end;
    padding:  25px;
    
}
.navbar-right > a > button{
    border-radius:5px;
    cursor: pointer;
  
   
    font-size:16px;
    font-weight: 600;
    text-align: center;
    border:none; 
    
    background-color:rgb(235, 235, 96);
}
button:hover{
    color: red;
    
}
